.leaflet-container {
  height: 400px;
}
.headerComposant{
  margin: 0%  10%  0% 10%;
}
ul li{
  cursor: pointer;
}
.container_link{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.container_header{
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.list_navHeader{
  display: flex;
  list-style: none;
}
.list_navHeader li{
  margin: 0px 20px 0px 20px;
}
.child_link{
  display: flex;
  align-items: center;
}
/* main */

.container_main{
  height: 500px;
  background-color: #ce0033;
  display: flex;
  justify-content: flex-end;
}
.child_main_left{
  width: 30%;
  height: 500px;
}
.child_main_right{
  margin-left: 10%;
}
.img_main{
  width: 100%;
  height: 100%;
}
.imgOcc{
  width: 286px;
}
.container{
  display: flex;
  margin: 100px;
}
.containerSimplon{
  background-color: rgb(255, 255, 255);
  border-top: 10px solid red;
  height: 50%;
}
.nomSimplon{
  font-size: 1.8rem;
  font-weight: 600;
}
.loc{
  color: red;
}
#mapRight{
  width: 50%;
  background-color: rgb(241, 245, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#map{
  width: 50%;
}
.nomPop{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.containerPopup p{
  text-align: center;
}
.simplon{
  color: white;
  margin: 5% 1% ;
  font-size: 2rem;
}
.container_btn{
  height: 250px;
  display: flex;
  align-items: center;

}
.btmFormaction{
  background-color: white;
  padding: 30px;
  color:#ce0033 ;
  cursor: pointer;
}
.Position{
  display: flex;
  align-items: center;
}
.ul_footer{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  margin-left: 10px;
}
li::after {
  content: "";
  background: white;
  position: relative;
  padding-right: 3px;
  left: 7px;
}
li:last-child::after{
  display: none
}

li a{
  text-decoration: none;
  color: white
}
.logo_comtainerFooter{
 display: flex;
 justify-content: center;
}
footer{
  background-color: #ce0033;
  margin-top: 150px;
  padding: 50px;
}

@media screen and (max-width:1000px){
  .backgoundImg{
    background:center/cover  url(../images/main.jpg);
    margin: 0;
  }
  .disparaision{
    display: none;
  }
  .simplon{
    color: #ce0033;
  }
}
@media screen and (max-width:1000px){
  .container{
    margin: 0;
  }
}
@media screen and (max-width:750px){
  .container_header{
    flex-direction: column;
  }
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #map{
    width: 100%;
  }
  .ul_footer{
    flex-direction: column;
  }
  .imgL{
    width: 200px;
  }
}